<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
    <title>Leaderboard</title>
</head>
<body>
    <h1>LEADERBOARD</h1>
    <h2>PLAYER - SCORE - TIME</h2>
    <!--
<div class="leaderboards_board"></div>
<span class="leaderboards_title">LEADERBOARD</span>
<span class="leaderboards_score">PLAYER - SCORE - TIME</span>
-->

    {% for dict_item in list %}
        <p>{{ dict_item.name }}</p> <p>{{dict_item.score}}</p> <p>{{dict_item.level}}</p>
    {% endfor %}
<a href="/"><span class="back">BACK</span></a>
</body>
</html>