<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
    <title>Leaderboard</title>
</head>
<body>
    <h1>LEADERBOARD</h1>
    <h2>PLAYER - SCORE - TIME</h2>
    <div class="leaderboards_board"></div>
    <!--
<span class="leaderboards_title">LEADERBOARD</span>
<span class="leaderboards_score">PLAYER - SCORE - TIME</span>
-->
   <ol>
       {%for i in list%}
       {{ i }}
       {%endfor%}
   </ol>
<a href="/"><span class="back">BACK</span></a>
</body>
</html>