<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #d4b2d8;
        }
        .back {
            height: 70px;
            width: 130px;
            background-color: #a59a97;
            border-radius: 15px;
        }
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
    <title>Leaderboard</title>
</head>
<body>
    <h1>LEADERBOARD</h1>
    <h2>PLAYER - SCORE - LEVEL</h2>
    <!--
<div class="leaderboards_board"></div>
<span class="leaderboards_title">LEADERBOARD</span>
<span class="leaderboards_score">PLAYER - SCORE - TIME</span>
-->
    {% for dict_item in list %}
        <p>{{ dict_item }}</p>
    {% endfor %}
<a href="/"><span class="back">BACK</span></a>
</body>
</html>