<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/static/main.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <span class="load_screen_title">LOAD GAME</span>
  <div class="load_screen_board"></div>
  <div class="savebox1"></div>
  <div class="savebox2"></div>
  <div class="savebox3"></div>
  <span class="load_screen_load1">LOAD</span>
  <span class="load_screen_load2">LOAD</span>
  <span class="load_screen_load3">LOAD</span>
  <span class="load_screen_delete1">DELETE</span>
  <span class="load_screen_delete2">DELETE</span>
  <span class="load_screen_delete3">DELETE</span>
  <span class="save1">1</span>
  <span class="save2">2</span>
  <span class="save3">3</span>
  <a href="/"><span class="back">BACK</span></a>
</body>
</html>